<template name="faq">
  <section id="faq">
    <div class="container">
      <div class="row">
        <h1>FAQ</h1>
        <h3>So, how should a good vulnerability submission look like?</h3>
        <p>Example of a real issue previously present in the Go client:</p>
        <p><b>Description:</b> Remote Denial-of-service using non-validated blocks</p>
        <p><b>Attack scenario:</b> An attacker can send blocks which may require a high amount of computation (the maximum gasLimit) but has no proof-of-work. If the attacker sends blocks continuously, the attacker may force the victim node to 100% CPU utilization.</p>
      <p><b>Impact:</b> An attacker can abuse CPU utilization on remote nodes, possibly causing full DoS.</p>
      <p><b>Components:</b> Go client version v0.6.8 </p>
      <p><b>Reproduce:</b> Send a block to a Go node which contains many txs but no valid PoW.</p>
      <p><b>Details:</b><br>
  This <a href="https://github.com/ethereum/go-ethereum/blob/develop/core/block_processor.go#L171">link</a>  points to the recent code, not the one with the bug.<br><br>
        Blocks are validated in the method Process(Block, dontReact). This method performs expensive CPU-intensive tasks, such as executing transactions (sm.ApplyDiff) and afterward it verifies the proof-of-work (sm.ValidateBlock()). This allows an attacker to send blocks which may require a high amount of computation (the maximum gasLimit) but has no proof-of-work. If the attacker sends blocks continuously, the attacker may force the victim node to 100% CPU utilization.
        <br><br>
        <b>Fix</b>: Invert the order of the checks.

        <br>
      </p>

        <h3> So, the bug bounty program is time limited?</h3>
        <p>The program will run until 15th of March. For a general development time line, please see <a href="http://instagantt.com/snapshot.html#/54c2ba8d8d78720d160000aa">here</a>. </p> Plese note that the time line is a snap shot and not continuously updated. 
        <h3>How are bounties paid out?</h3>
        <p>Rewards are paid out in BTC shortly after the end of the bug bounty program in March. Local laws require us to ask for proof of your identity. In addition, we will need your bitcoin address. </p>
        <h3>Can I donate my reward to charity?</h3>
        <p>Yes. We can donate your reward to an established charitable organization of your choice. </p>
        <h3>I reported an issue / vulnerability but have not received a response!</h3>
        <p>We aim to respond to submissions as fast as possible. Feel free to ping us if you have not received a response within a day or two.</p>
        <h3>I want to be anonymous / I do not want my name or nick in the Ethereum genesis block or on the leader board.</h3>
        <p>Submitting anonymously or with a pseudonym is OK, but will not be eligible for BTC rewards. To be eligible for BTC rewards, we need your real name and a proof of your identity. Donating your bounty to a charity doesn't require your identity.</p>
        <p>Please let us know if you do not want a submission counted towards the leader board and/or if you do not want to be mentioned in the genesis block for your contribution.</p>
        <h3>What are the points in the leaderboard?</h3>
        <p>Every found vulnerability / issue is assigned a point value. Bounty hunters are ranked on our leaderboard by total points. Points are based on the same metrics as rewards. Points allow for example submitters to be ranked on the leaderboard if rewards are donated.</p>
        <h3>I have further questions.</h3>
        <p> Please send an email to <a href="mailto:bounty@ethdev.com?Subject=Bug%20bounty%20program" target="_top">bounty@ethdev.com</a>.</p>
      </div>
    </div>
  </section>
</template>
