<template name="forgotPasswordModal">
  <div id="forgot-password-modal" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">Forgot password?</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <input class="form-control" type="text" name="email" placeholder="email"/>
            </div>
            <div class="text-right">
              <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
