<template name="news">
  <section id="news">
    <div class="container">
      <div class="row">
        <h1>News & Updates</h1>
        <ul>
          <li><b>2015-03-19: </b>The bounty program will remain running for at least the duration of the upcoming Ethereum frontier release. Please see <a href="https://blog.ethereum.org/">the Ethereum blog</a> for more information about Frontier!
          </li>
          <li><b>2015-02-27: </b><a href="https://github.com/jonasnick/eth-neg-value-tx">These scripts</a> by Jonas Nick can be helpful to build the Ethereum Go client and test it. Please see the bash scripts for build commands and the python script for a simple example of calling the JSON-RPC API. Please note the <a href="https://github.com/ethereum/go-ethereum/issues">currently known issues</a>
          </li>
          <li><b>2015-02-27: </b>Another <a href="https://github.com/jonasnick/eth-neg-value-tx">major vulnerability</a> found by Jonas Nick. Awarded with 5 BTC, this exploit triggers a bug in the Ethereum VM to create ether out of thin air.
          </li>
          <li><b>2015-01-30: </b>Friendly reminder: <b>Ethereum websites are out of scope for the bounty program and not eligible for rewards.</b> With that said, we are thankful for submissions relating to webpage security and will work to fix these issues.
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>
