<template name="openBountiesStatic">
  <section id="bounties">
    <div class="container">
      <div class="row">
        <h1>Open Bounties</h1>
        Our bug bounty program spans end-to-end: from soundness of protocols (such as the blockchain consensus model, the wire and p2p protocols, proof of work, etc) and protocol/implementation compliance to network security and consensus integrity. Of course, more classical client security as well as security of cryptographic primitives are also part of the program. Please have a look at <a href="https://github.com/ethereum/wiki/wiki/Security-Categorization">our security goals</a>. For details on the scope, see below. 
        <h3><b>Protocol security</b></h3>
         The idea for Ethereum was initially published in the <a href="https://github.com/ethereum/wiki/wiki/White-Paper">White Paper</a>. We have cast this concept into a couple of protocols and algorithms up for scrutiny: 
         <ul>
          <li>The blockchain consensus protocol, state engine and virtual machine as well as encodings and Merkle Patricia trees as specified in the <a href="http://gavwood.com/Paper.pdf">Yellow Paper</a> </li>
        </ul>
        Help us identifying flaws such as:  
        <ul>
          <li>Conceptual security issues in the formal specification of the Ethereum protocol.</li>
          <li>Misaligned / unintended economic incentives and game theoretic flaws.</li>
          <li>Security weaknesses / attacks on the PoW algorithm.</li>
        </ul>
        <p>A concrete example could be a contract that consumes very little gas but leads to a lot of computational effort effectively opening the door for DoS attacks.</p>
        <h3><b>Implementation security</b></h3>
        We will release the genesis block together with our Go client. Please have a look at the references for a link to the code base.
        <h4><b>Client protocol implementation security</b></h4>
        Assuming that the protocols and algorithms are flawless, does the Go client implementation conform to the formal protocol specification? Issues could include:
        <ul>
          <li>Validations of blocks, transactions and messages.</li>
          <li>Ethereum Virtual Machine code execution.</li>
          <li>Transaction execution.</li>
          <li>Contract creation.</li>
          <li>Message calls.</li>
          <li>Calculation and enforcement of gas and fees.</li>
        </ul>
        <p>Here is an  <a href="https://en.bitcoin.it/wiki/CVE-2010-5139">example</a> of a potential issue in this category is Bitcoin's "zero-day" flaw requiring a hard-fork.</p>
        <h4><b>Network security</b></h4>
        In this category, we look for generalized attacks on the whole network or a subset of it:
        <ul>
          <li>51% and other X% attacks.</li>
          <li>Finney attacks.</li>
          <li>Sybil attacks.</li>
          <li>Replay attacks.</li>
          <li>Transaction / messages malleability.</li>
          <li>(global) DoS.</li>
        </ul>
        <p>Here is an <a href="https://en.bitcoin.it/wiki/CVE-2012-4684">example</a> of a global network based DoS scenario.</p>
        <h4><b>Node security</b></h4>
        Attacks on a single Go client relating to the Ethereum protocol:
        <ul>
          <li>DoS / resource abuse.</li>
          <li>Account / wallet address gathering/probing.</li>
          <li>Broadcast / withhold attacks.</li>
        </ul>
        <p>DoS <a href="https://bitcointalk.org/index.php?topic=287351">example</a>.
          <br>
          DoS / Resource abuse <a href="https://en.bitcoin.it/wiki/CVE-2013-2293">example</a>.
        </p>
        <h4><b>Client application security</b></h4>
        This category addresses more classical security issues. More precisely: Attacks on a single Go client exposing general Go application or library vulnerabilities:
        <ul>
          <li>Memory vulnerabilities, e.g. invalid memory address, nil pointers, memory not properly released.</li>
          <li>Data type overflow / wrap around, e.g. integer overflow.</li>
          <li>Panics or not properly handled errors.</li>
          <li>Concurrency, e.g. synchronization, state, races.</li>
          <li>Issues related to external libraries used.</li>
        </ul>
        <p>Here is an : <a href="http://bitcoinmagazine.com/3668/bitcoin-network-shaken-by-blockchain-fork/">example</a> of a problem hidden in an external library.</p>
        <h4><b>Cryptographic primitives security</b></h4>
        Incorrect implementation / usage / configuration of:
        <ul>
          <li>Elliptic curve (secp256k1, ECDSA).</li>
          <li>Hash algorithms (Keccak-256).</li>
          <li>Merkle Patricia trees.</li>
        </ul>
        <p>See here for an EC key generation <a href="http://www.reddit.com/r/Bitcoin/comments/2onm5r/blockchaininfo_security_disclosure/">example</a>. Also have a look <a href="https://github.com/blockchain/My-Wallet/commit/98d5a7ca59ef04d06ac6aee468634b12975a0f5c">here</a>.</p>
      </div>
    </div>
  </section>
</template>
