<template name="resetPasswordForm">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <form>
          <div class="form-group">
            <input class="input form-control" type="password" name="password" placeholder="new password"/>
          </div>
          <div class="form-group">
            <input class="input form-control" type="password" name="password-repeat" placeholder="confirm new password"/>
          </div>
          <input type="submit" value="Submit" class="btn btn-primary btn-block" />
        </form>
      </div>
    </div>
  </div>
</template>
