<template name="sourcesAndCode">
  <section id="references">
    <div class="container">
      <div class="row">
        <h1>References</h1>
        <p>
Note that parts of the code base are still undergoing changes and hence these packages are exempt for the moment. This includes:  
<ul>
<li> Final implementation of the PoW (ready late January). </li>
<li> Final implementation of the networking and p2p protocol (ready early February).</li>
</ul>
We will announce respective packages as soon as they become available.   
Please see the following links for the tagged version of Go Ethereum eligible for bounties, our protocols and more info about the threat model / security considerations:
        </p>
        <ul>
          <li><a href="https://github.com/ethereum/go-ethereum/tree/bounty"><b>Go client</b></a> (bounty branch). As stated above, the packages <a href="https://github.com/ethereum/go-ethereum/tree/bounty/websocket">websocket</a>, <a href="https://github.com/ethereum/go-ethereum/tree/bounty/xeth">xeth</a>, <a href="https://github.com/ethereum/go-ethereum/tree/bounty/pow">pow</a>, <a href="https://github.com/ethereum/go-ethereum/tree/bounty/p2p">p2p</a>, and <a href="https://github.com/ethereum/go-ethereum/tree/bounty/miner">miner</a> are not in scope yet. Note also that neither swarm nor <a href="https://github.com/ethereum/go-ethereum/tree/bounty/whisper">whisper</a> </li> is in scope.
          <li><a href="https://github.com/ethereum/wiki/wiki/Security-Categorization"><b>Security Categorization</b></a></li>
          <li><a href="https://github.com/ethereum/wiki/wiki/White-Paper"><b>White Paper</b></a></li>
          <li><a href="http://gavwood.com/Paper.pdf"><b>Yellow Paper</b></a></li>
        </ul>
      </div>
    </div>
  </section>
</template>
