<template name="sourcesAndCode">
  <section id="references" class="highlight">
    <div class="container">
      <div class="row">
        <h1>References</h1>
        <ul>
        <li><a href="https://github.com/ethereum/wiki/wiki/White-Paper"><b>White Paper</b></a></li>
          <li><a href="http://gavwood.com/Paper.pdf"><b>Yellow Paper</b></a></li>  
          <li><a href="https://github.com/ethereum/cpp-ethereum.git"><b>CPP client</b></a> (develop branch)  In Scope: libdevcrypto, libethcore, libdevcore, libethereum, libp2p, libevm, libevmcore, libdevp2p, libethash incl. their cppethereum dependencies. </li> 
          <li><a href="https://github.com/ethereum/go-ethereum/tree/develop"><b>Go client</b></a> (develop branch)  In Scope: any code that affects consensus. For example, packages core, p2p, rlp and crypto, but also code in any other package used by consensus protocol.</li> 
          <li><a href="https://github.com/ethereum/pyethereum/tree/develop"><b>Python client</b></a> (develop branch)  In Scope: any code that affects consensus. </li> 
          <li><a href="https://github.com/ethereum/wiki/wiki/Security-Categorization"><b>Security Categorization</b></a></li>
        </ul>
      </div>
    </div>
  </section>
</template>
