<template name="submitSec">
  <section id="submit-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p style="margin: 10px;">All content copyright © Eth Dev Ltd. All rights reserved.</p>

        </div>
      </div>

      <!--

          <div class="row">
            <div class="col-md-8">
              {{#autoForm collection="Vulnerabilities" type="method" id="submitSecForm" meteormethod="submitSec"}}
              <fieldset>
                {{> afQuickField name="title" placeholder="Title (100 characters max)" }}
                {{> afQuickField name="description" placeholder="Client Version:  Operating System:  Issue: "}}
              </fieldset>
              <button class="btn btn-default" type="submit" submit-sec>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                Submit
              </button>
              {{/autoForm}}
            </div>
          </div>

          -->

    </div>
  </section>
</template>
